spring:
  application:
    name: Nikah BE

  datasource:
    url: jdbc:postgresql://localhost:5432/nikah
    username: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  threads:
    virtual:
      enabled: on

server:
  port: 8080
